<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- <link href="/stylesheets/cvTemplate.css" rel="stylesheet" type="text/css"> -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,300;1,800&display=swap" rel="stylesheet"> 
    <%- include('../views/styles.ejs'); %>
  </head>
  <body>
    <div class="book">
      <div class="page">
        <Watermark text="Valuecoders" textSize={160} rotate={0}>
        <header>
          <div class="main-header">
            <div class="header-name">
              <p class="first-name">
                <%= record.cv_details.header.firstName ? record.cv_details.header.firstName : "" %>
              </p>
              <p class="last-name" style="font-weight: 800;
              font-family: 'Noto Sans';
              font-style: normal;
              font-size: 40px;">
                <%= record.cv_details.header.lastName ?
                record.cv_details.header.lastName : "" %>
              </p>
              <p class="designation">
                <%= record.cv_details.header.designation ?
                record.cv_details.header.designation : "" %>
              </p>
            </div>
            <div class="header-profile">
              <% if (record.cv_details.header.origin)  { %>
                <div class="align-logo">
                  <img
                    src="http://localhost:5000/location.png"
                    width="15px"
                    height="17px"
                    alt=""
                  />
                  <p class="origin">Origin: <%= record.cv_details.header.origin %> </p>
                </div>
             <% } else { %>

            <%  } %>
              <%  if (record.cv_details.header.experience) { %>
                <div class="align-logo">
                  <img
                    src= "http://localhost:5000/exp.png"
                    width="20px"
                    height="20px"
                    alt=""
                  />
                  <p class="experience">
                   Experience : <%=  record.cv_details.header.experience %>
                  </p>
                </div>
             <% } else { %>
                 
                <% } %>
              <% if (record.cv_details.header.availability) { %>
                <div class="align-logo">
                  <img
                    src= "http://localhost:5000/time.png"
                    width="17px"
                    height="17px"
                    alt=""
                  />
                  <p class="availability">
                    Availability: <%= record.cv_details.header.availability %>
                  </p>
                </div>
            <% } else { %>
               
             <% }   %>
            </div>
          </div>
          <% if (record.cv_details.header.image_url){ %>
           <div class="profile-pic">
            <img src = "<%= record.cv_details.header.image_url %>" >
         </div>
          <% } else { %>

          <% } %> 
        </header>
        <section class="main-section">
          <section class="left-section">
            <div class="profile">
              <h1 class="profile-heading">PROFILE</h1>
              <p class="profile-summary"><%= record.cv_details.header.summary %> </p>
              <h5 class="quality-heading">KEY QUALITIES</h5>
              <% if(record.cv_details.keyQualities) { %>
              <div class="qualities align-checkbox-icon">
                <% for(let i = 0 ;  i< record.cv_details.keyQualities.length; i++ ) { %>
                  <div class="align-checkbox-icon" key={index}>
                    
                      <img
                        src= "<%= record.cv_details.keyQualities[i].attachment %>"
                        width="15px"
                        height="15px"
                        alt="checkCircle"
                      />
                      <p class="quality"><%= record.cv_details.keyQualities[i].name %> </p>
                  </div>
                <%  } %>
                <% } else { %>

                  <% } %>
              </div>
            </div>
            <% if(record.cv_details.expertise) { %>
            <div class="expertises">
              <h2 class="experties-heading">EXPERTISE</h2>
              <div class="skills">
               <% for (let i = 0; i < record.cv_details.expertise.length; i++) { %>
                  <div class="expertise" key= <%= record.cv_details.expertise[i].name %> >
                    <div class="skill">
                      <img
                        class="skill-img"
                        src="<%= record.cv_details.expertise[i].image_url %>"
                        alt="W"
                        width="25"
                        height="25"
                      />
                      <p style="padding-left: 10px" ><%= record.cv_details.expertise[i].name %></p>
                    </div>
                    <!-- <Rating name="disabled" value = "<% record.cv_details.expertise[i].rating %>"  disabled /> -->
                    <p class='experience-year'><%= record.cv_details.expertise[i].experience %></p>
                  <br />
                  </div>
                <% } %>
                <% } else { %> 

                <% } %>
              </div>
            </div>
            <% if(record.cv_details.experience) { %>
              <div class="experiene-section">
                <h3 class="experience-heading">PROFESSIONAL EXPERIENCE</h3>
                  <div class="experience-block">
                      <div class="experience-main">
                          <% for(let i = 0; i < record.cv_details.experience.length; i++) { %>
                          <p class="experience-date">
                            <%= record.cv_details.experience[i].startDate %> to <%=record.cv_details.experience[i].endDate %>
                          </p>
                          <p class="experience-tittle"><%= record.cv_details.experience[i].job_title %></p>

                          <% if(record.cv_details.experience[i].description) { %>
                            <ul class="experience-ul">
                              <% for(let j = 0; j < record.cv_details.experience[i].description.length; j++) { %>
                                  <li class="experience-description">
                                  <%= record.cv_details.experience[i].description[j] %>
                              </li>
                              <% } %>
                            </ul>
                            <% }  else { %>
                              <% } %>
                      </div>
                      <% } %>
                  </div>
              </div>
            <% } else { %>

                <% } %>          
            <% if(record.cv_details.projects) { %>
                  <div class="project-section">
                    <h3 class="project-heading">MAJOR PROJECT</h3>
                    <div class="project-block">
                          <% for(let i = 0; i < record.cv_details.projects.length; i++ ) { %>
                            <div class="project-main">
                              <p class="project-date">
                                <%= record.cv_details.projects[i].startDate %> to <%=record.cv_details.projects[i].endDate %>
                              </p>
                              <h5 class="project-tittle"><%= record.cv_details.projects[i].title %></h5>
                              <ul>
                                <% for(let j = 0; j < record.cv_details.projects[i].description.length; j++) { %>
                                  <li class="project-description">
                                  <%= record.cv_details.projects[i].description[j] %>
                                  </li>
                                <% } %>
                              
                              </ul>
                            </div>
                          <% } %>
                      </div>
                  </div>
            <% } else { %>
                 <% } %>
          </section>
          <section class='right-section'>
            <% if(record.cv_details.education) { %>
              <div class='education'>
                <p class='education-heading'>EDUCATION</p>
                <% for(let i = 0; i < record.cv_details.education.length; i++) { %>
                  <div key={index}>
                    <div class='educ-main'>
                      <p class='education-year'> <%= record.cv_details.education[i].year %> </p>
  
                      <p class='education-degree'> <%= record.cv_details.education[i].degree %> </p>
  
                      <p class='education-college'> <%= record.cv_details.education[i].collegeName %> </p>
                    </div>
                  </div>
                <% } %>
              </div>
            <% } else { %>  

               <% } %>
            <% if(record.cv_details.achivements) { %>
              <div class='achievements'>
                <p class='achievement-h3'> ACHIEVEMENTS</p>
                <% for(let i = 0; i < record.cv_details.achivements.length; i++ ) { %>
                  <div class='achievement-main' key={index}>
                    <p class='achievement-tittle'><%= record.cv_details.achivements[i].achievementTitle %></p>
                    <p class='achievement-description'> <%= record.cv_details.achivements[i].achievementDescription %></p>
                  </div>
                <% } %>  
              </div>
           <% } else { %>

           <% } %>
           <% if(record.cv_details.interests) { %>
            <div class='interests'>
              <p class='interest-heading'>INTERSEST</p>
              <div class='grid-container'>
                <% for(let i = 0; i < record.cv_details.interests.length; i++ ) { %>
                <p class='interst-grid' ><%= record.cv_details.interests[i].name %></p>
                <% } %>  
              </div>
            </div>
            <% } else { %>

            <% } %>
            <% if(record.cv_details.testimony) { %>
              <div class='comma-description'>
                <img src= "http://localhost:5000/comma.png" width="15px" height="15px" alt='comma'/>
                  <% for(let i = 0; i < record.cv_details.testimony.length; i++)  { %>
                  <div class='description' key={index}></div>
                      <p class='client-description'> <%= record.cv_details.testimony[i].clientTestimonial %> </p>
                  </div> 
                  <% } %>
                <img src="assets/comma.png" width="15px" height="15px" alt='comma'/>
              </div>
            <% } else { %>

            <% } %>

          </section>
        </section>
        <footer class="footer">
          <div class="footer-image">
            <img
              src="http://localhost:5000/value.png"
              width="150px"
              height="25px"
              alt="value"
            />
          </div>
        </footer>
       </Watermark>
        
      </div>
    </div>
  </body>
</html>
